*{
    background-color: #F5EDE6;
    font-family: 'Poppins', 'Segoe UI', Tahoma, sans-serif;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#logoMain {
    width: 500px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 45px;
    margin-top: 50px;
    background-color: rgb(216, 190, 142);
    font-size: 20px;
    font-weight: bold;
    color: rgb(137, 94, 21);
    text-decoration: none;
    border: 3px solid rgb(39, 39, 39);
    border-radius: 10px;
}

button:hover {
    background-color: rgb(204, 151, 52);
    color: rgb(225, 212, 182);
    border: 3px solid rgb(39, 39, 39);
    border-radius: 10px;
}

.BtnLink {
    display: block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(137, 94, 21);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

.BtnLink:hover {
    color: rgb(225, 212, 182);
}

#signLink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}

#signLink p {
    margin-top: 40px;
    margin-bottom: 3px;
}

#links {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

#main p {
    font-size: 25px;
}

.main-Btn {
    margin-bottom: 35px;
}

.navLinks {
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(137, 94, 21);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

.navLinks:hover {
    color: rgb(225, 212, 182);
}
