*{
    background-color: #F5EDE6;
    font-family: 'Poppins', 'Segoe UI', Tahoma, sans-serif;
}


#logoMain {
    width: 500;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 45px;
    margin-top: 50px;
    background-color: rgb(216, 190, 142);
    font-size: 20px;
    font-weight: bold;
    color: rgb(137, 94, 21);
    text-decoration: none;
}

button:hover{
    background-color: rgb(204, 151, 52);
    color: rgb(225, 212, 182);
}

#BtnLink {
    text-decoration: none;
}

#signLink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#signLink {
    font-size: 20px;
}

#signLink p {
    margin-top: 40px;
    margin-bottom: 3px;
}
